:root {
  /* branding color theme: https://design.sparebank1.no/profil/farger/ */
  --vann: #005AA4;
  --fjell: #002776;
  --frost: #7EB5D2;
  --sand: #F8E9DD;
  --syrin: #D3D3EA;
  --nordlys: #33AF85;
  --skog: #00754E;
  --skog_hover: #095139;
  --villblomst30: #FADDE1;
  --bg_color: var(--sand);
  --header_color: var(--vann);
  --headingsColor: var(--fjell);
  --button-radius: 6em;
}

header #header-container .portal-name {
    color: white;
}

/* Buttons */
.btn {
  border-radius: var(--button-radius);
  background: white;
  border: 2px solid var(--vann);
  color: var(--vann);
}
.btn:hover {
  background: var(--fjell);
  border: 2px solid var(--fjell);
  color: white;
}
.btn.btn-primary {
  background: var(--skog);
  border: 2px solid transparent;
  color: white;
}
.btn.btn-primary:hover {
  background: var(--skog_hover);
  border: 2px solid transparent;
}
#btn-submit {
  background: var(--vann);
}
#btn-submit:hover {
  background: var(--fjell);
}

/* Notification icon */
.ficon-notifications {
  color: white;
}
.ficon-notifications:hover {
  color: var(--fjell);
}
body[page='portal_home'] .user-notifications-menu #user-notification-icon i.ficon-notifications {
  color: var(--vann);
}

/* Sidebar: aside */
aside.suggested-articles {
  background: transparent;
}
#page-main > aside > div {
  background: none;
  padding-top: 0;
}

#home-page-container #cards-banner .card {
  border-radius: 1em;
}

/* Dropdown menu */
header #request-dropdown a.incident {
 background-image: url(https://raw.githubusercontent.com/veltorg/sb1fp-freshservice/496c59978b15648b23db257ff273cbace48d663c/src/assets/Ikoner/edit%20note.svg);
 background-size: 3.4em;
}
header #request-dropdown a.service-request {
 background-image: url(https://raw.githubusercontent.com/veltorg/sb1fp-freshservice/496c59978b15648b23db257ff273cbace48d663c/src/assets/Ikoner/folder%20open%20%281%29.svg);
 background-size: 3.2em;
}
header #request-dropdown a.employee-onboarding {
  background-image: url(https://raw.githubusercontent.com/veltorg/sb1fp-freshservice/496c59978b15648b23db257ff273cbace48d663c/src/assets/Ikoner/person%20add%20%281%29.svg);
 background-size: 3.2em;
  
}
header #request-dropdown a.employee-offboarding {
  background-image: url(https://raw.githubusercontent.com/veltorg/sb1fp-freshservice/496c59978b15648b23db257ff273cbace48d663c/src/assets/Ikoner/person%20minus%20bla.svg);
 background-size: 3.2em;
}

/* Solutions */
.solutions-browse-icon {
  background-image: url(https://raw.githubusercontent.com/veltorg/sb1fp-freshservice/496c59978b15648b23db257ff273cbace48d663c/src/assets/Illustrasjoner/Lysp%C3%A6re%2003.svg);
}