<section id="toast-container"
    class="toast-top-right"
    aria-live="assertive"
    aria-atomic="true">
</section>

<header id="header-main"></header>
<div class="wave" style="height: 150px; overflow: hidden;" >
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C113.99,-38.95 404.62,295.56 500.00,49.98 L501.12,-3.44 L-1.69,-3.44 Z" style="stroke: none; fill: #08f;"></path></svg>
</div>
<main id="page-main"></main>
<footer id="footer-main"></footer>

<section id="search-layout-container" class="hide"></section>
<section id="wormhole" aria-hidden="true"></section>

{{!-- Please use this template for making changes in the layout of the page --}}
{{!-- For adding scripts, please use the Footer template --}}